<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.SpecialSQLMapper">

    <!-- List<User> getUserByLike(@Param("criteria") String criteria); -->
    <select id="getUserByLike" resultType="User">
        select *
        from t_user
        <!-- 第一种解决方式 -->
        <!-- where username like '%${criteria}%' -->
        <!-- 第二种解决方式 -->
        <!-- where username like concat('%', #{criteria}, '%') -->
        <!-- 第三种解决方式 -->
        where username like "%"#{criteria}"%"
    </select>
</mapper>