<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentOne" class="com.atguigu.spring.pojo.Student"/>
    <bean id="studentTwo" class="com.atguigu.spring.pojo.Student">
        <!--
        property: 通过成员变量的set方法进行赋值
        name: 设置需要赋值的属性名(和set方法有关，和成员变量无关)
        value: 设置为属性所赋的值
        -->
        <property name="sid" value="1001"/>
        <property name="sname" value="张三"/>
        <property name="age" value="23"/>
        <property name="gender" value="男"/>
    </bean>

    <bean id="studentThree" class="com.atguigu.spring.pojo.Student">
        <constructor-arg value="1002"/>
        <constructor-arg value="李四"/>
        <constructor-arg value="女"/>
        <constructor-arg value="24" name="age"/>
    </bean>

    <bean id="studentFour" class="com.atguigu.spring.pojo.Student">
        <property name="sid" value="1003"/>
        <!--
        <: &lt;
        >: &gt;
        CDATA节: 其中的内容会原样解析 <![CDATA[...]]>
        CDATA节是XML中的一个特殊的标签，因此不能写在一个属性中，只能写在标签中
        -->
        <!-- <property name="sname" value="&lt;王五&gt;"/> -->
        <property name="sname">
            <value><![CDATA[<王五>]]></value>
        </property>
        <property name="gender">
            <null/>
        </property>
    </bean>
</beans>